@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Partido.PartidoViewModel

@{
    ViewBag.Title = $"{Labels.Editar} {Labels.Partido}";
}

<h2>@ViewBag.Title</h2>
<hr>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(model => model.PartidoId)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(false, null,
            new { id = "validation-summary", @class = "alert alert-danger", role = "alert", style = "display:none" })

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(model => model.Nome, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(model => model.Nome, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nome,
                    new { htmlAttributes = new { @class = "form-control", maxlength = "60", placeholder = Labels.PartidoNomePlaceholder } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(model => model.Sigla, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(model => model.Sigla, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Sigla,
                    new { htmlAttributes = new { @class = "form-control", maxlength = "10", placeholder = Labels.PartidoSiglaPlaceholder } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(model => model.NumeroEleitoral, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(model => model.NumeroEleitoral, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.NumeroEleitoral,
                    new { htmlAttributes = new { @class = "form-control", maxlength = "2", placeholder = Labels.PartidoNumeroEleitoralPlaceholder } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(model => model.EspectroPolitico, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(model => model.EspectroPolitico, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.EnumDropDownListFor(m => m.EspectroPolitico, null, new {@id= "ddlEspectroPolitico" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.LabelFor(model => model.Enabled, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Enabled)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="@Labels.Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Labels.ListaIdeologias, "Index")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            validateForm("form", "validation-summary");
            endInputFocus("Nome");
        });
    </script>
}