@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Ideologia.IdeologiaDetailsViewModel

@{
    ViewBag.Title = $"{Labels.Visualizar} {Labels.Ideologia}";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-2 text-right">
            <b>@Html.DisplayNameFor(model => model.Ideologia.Nome):</b>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Ideologia.Nome)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 text-right">
            <b>@Html.DisplayNameFor(model => model.Ideologia.Enabled)</b>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Ideologia.Enabled)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 text-right">
            <b>@Html.DisplayNameFor(model => model.CreatedAt):</b>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 text-right">
            <b>@Html.DisplayNameFor(model => model.UpdatedAt):</b>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Partidos Associados a Ideologia</div>

    @{
        if (Model.Partidos.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Partidos[0].Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Partidos[0].Sigla)
                    </th>
                </tr>
                @foreach (var partido in Model.Partidos)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(partido.Nome, "Details", "Partidos", new { id = partido.PartidoId }, null)
                        </td>
                        <td>
                            @partido.Sigla
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="panel-body">
                <i>@Labels.IdeologiaNenhumPartidoAssociado</i>
            </div>
        }
    }

</div>

@Html.ActionLink(Labels.IdeologiaTitleListaIdeologias, "Index")