@using PPVR.WebApp.Resources
@using X.PagedList.Mvc
@model X.PagedList.IPagedList<PPVR.WebApp.Models.Ideologia>

@{
    ViewBag.Title = Labels.IdeologiaTitleListaIdeologias;
}

<h2>@ViewBag.Title</h2>

<hr>

@Helpers.CallbackActionAlert(ViewBag.CallbackAction)

@using (Html.BeginForm("Index", "Ideologias", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="col-sm-7">
            <div class="input-group">
                <input id="q" class="form-control" name="q" type="text"
                       placeholder="@Labels.IdeologiaPesquisarPlaceholder"
                       value="@((string) ViewBag.CurrentFilter)">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" title="@Labels.Pesquisar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <b>
                @Labels.IdeologiaTotalIdeologias:
            </b>
            @Model.TotalItemCount
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Labels.IdeologiaNome, "Index",
                new { q = ViewBag.CurrentFilter, sort = ViewBag.SortNome })
        </th>
        <th>
            @Labels.Ativo
        </th>
        <th>
            @Labels.Acoes
        </th>
    </tr>

    @foreach (var ideologia in Model)
    {
        <tr>
            <td>
                @ideologia.Nome
            </td>
            <td>
                @Html.DisplayFor(m => ideologia.Enabled)
            </td>
            <td>
                @Html.ActionLink(Labels.Editar, "Edit", new { id = ideologia.IdeologiaId }) |
                @Html.ActionLink(Labels.Visualizar, "Details", new { id = ideologia.IdeologiaId }) |
                @Html.ActionLink(Labels.Excluir, "Delete", new { id = ideologia.IdeologiaId })
            </td>
        </tr>
    }
</table>


<div class="text-right">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { q = ViewBag.CurrentFilter, sort = ViewBag.CurrentSort, page }))
</div>

@section scripts
{
    <script>
        $(function () {
            selectedTextFocus("q");
        });
    </script>
}