@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = Labels.Entrar;
}

<h2>@ViewBag.Title</h2>
<h4>Para connectar-se no sistema basta @Html.ActionLink("[" + Labels.CriarConta + "]", "Register") e informar o e-mail e a senha abaixo.</h4>
<hr>

@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            @Html.ValidationSummary(false, null,
                new { id = "validation-summary", @class = "alert alert-danger", role = "alert", style = "display:none" })
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4 text-right">
                <p>
                    @Html.ValidationMessageFor(m => m.Email, "*", new { @class = "text-danger" }) <em>Campos obrigatórios</em>
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(m => m.Email, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(m => m.Email, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(m => m.Email, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(m => m.Password, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="@Labels.Entrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            validateForm("form", "validation-summary");
            endInputFocus("Email");
        });
    </script>
}