@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = Labels.CriarConta;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary(false, null,
        new { id = "validation-summary", @class = "alert alert-danger", role = "alert", style = "display:none" })

    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.ValidationMessageFor(m => m.Email, "*",
                new { @class = "text-danger", title = Labels.CampoObrigatorio })

            @Html.LabelFor(m => m.Email, new { @class = "control-label" }):
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.ValidationMessageFor(m => m.Password, "*",
                new { @class = "text-danger", title = Labels.CampoObrigatorio })

            @Html.LabelFor(m => m.Password, new { @class = "control-label" }):
        </div>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }):
        </div>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" class="btn btn-default" value="@Labels.Registrar" />
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            validateForm("form", "validation-summary");
            endInputFocus("Nome");
        });
    </script>
}