@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Candidato.CandidatoViewModel

@{
    ViewBag.Title = $"{Labels.Visualizar} {Labels.Candidato}";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.Nome):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.Nome)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.NomeUrna):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.NomeUrna)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.NumeroEleitoral):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.NumeroEleitoral)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.Partido):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.Partido)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.UnidadeFederacao):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.UnidadeFederacao)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.UnidadeEleitoral):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.UnidadeEleitoral)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.Enabled)</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.Enabled)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.CreatedAt):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-right">
            <b>@Html.DisplayNameFor(model => model.UpdatedAt):</b>
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">@Labels.ValoresGastosCandidato</div>
    @{
        if (Model.Gastos.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.LabelFor(m => m.Gastos[0].TipoPropagandaDescricao)
                    </th>
                    <th class="text-center">
                        @Html.LabelFor(m => m.Gastos[0].QtdeOcorrencias)
                    </th>
                    <th class="text-center">
                        @Html.LabelFor(m => m.Gastos[0].ValorMedio)
                    </th>
                    <th class="text-center">
                        @Html.LabelFor(m => m.Gastos[0].TotalGasto)
                    </th>
                </tr>
                @foreach (var gasto in Model.Gastos)
                {
                    <tr>
                        <td>
                            @gasto.TipoPropagandaDescricao
                        </td>
                        <td class="text-center">
                            @gasto.QtdeOcorrencias
                        </td>
                        <td class="text-center">
                            @gasto.ValorMedio
                        </td>
                        <td class="text-center">
                            @gasto.TotalGasto
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="panel-body">
                <i>@Labels.CandidatoNenhumRegistroOcorrencia</i>
            </div>
        }
    }

</div>

@Html.ActionLink(Labels.CandidatoTitleListaCandidatos, "Index")