@using Resources
@using X.PagedList.Mvc
@model X.PagedList.IPagedList<PPVR.WebApp.Models.Candidato>

@{
    ViewBag.Title = Labels.PartidoTitleListaPartidosPoliticos;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Candidatos", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="col-sm-7">
            <div class="input-group">
                <input id="q" class="form-control" name="q" type="text"
                       placeholder="@Labels.CandidatoPesquisarPlaceholder"
                       value="@((string) ViewBag.CurrentFilter)">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" title="@Labels.Pesquisar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <b>
                @Labels.CandidatoTotalPartidos:
            </b>
            @Model.TotalItemCount
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Labels.CandidatoNome, "Index",
                new { q = ViewBag.CurrentFilter, sort = ViewBag.SortNome })
        </th>
        <th>
            @Html.ActionLink(Labels.CandidatoNomeUrna, "Index",
                new { q = ViewBag.CurrentFilter, sort = ViewBag.SortNomeUrna })
        </th>
        <th>
            @Html.ActionLink(Labels.CandidatoNumeroEleitoral, "Index",
                new { q = ViewBag.CurrentFilter, sort = ViewBag.SortNumeroEleitoral })
        </th>
        <th>
            @Labels.Ativo
        </th>
        <th>
            @Labels.Acoes
        </th>
    </tr>

    @foreach (var candidato in Model)
    {
        <tr>
            <td>
                @candidato.Nome
            </td>
            <td>
                @candidato.NomeUrna
            </td>
            <td>
                @candidato.NumeroEleitoral
            </td>
            <td>
                @Html.DisplayFor(m => candidato.Enabled)
            </td>
            <td>
                @Html.ActionLink(Labels.Editar, "Edit", new { id = candidato.PartidoId }) |
                @Html.ActionLink(Labels.Visualizar, "Details", new { id = candidato.PartidoId }) |
                @Html.ActionLink(Labels.Excluir, "Delete", new { id = candidato.PartidoId })
            </td>
        </tr>
    }
</table>


<div class="text-right">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { q = ViewBag.CurrentFilter, sort = ViewBag.CurrentSort, page }))

</div>


@section scripts
{
    <script>
        $(function () {
            var searchInput = $("#q");

            // Multiply by 2 to ensure the cursor always ends up at the end;
            // Opera sometimes sees a carriage return as 2 characters.
            var strLength = searchInput.val().length * 2;

            searchInput.focus();
            searchInput[0].setSelectionRange(0, strLength);
        });
    </script>
}