@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.TipoPropaganda.TipoPropagandaViewModel

@{
    ViewBag.Title = Labels.TiposPropagandaAdicionar;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(model => model.TipoPropagandaId)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr>

        @Html.ValidationSummary(false, null,
            new { id = "validation-summary", @class = "alert alert-danger", role = "alert", style = "display:none" })

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(model => model.Descricao, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(model => model.Descricao, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Descricao,
                    new { htmlAttributes = new { @class = "form-control", maxlength = "30", placeholder = Labels.TipoPropagandaDescricaoPlaceholder } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ValidationMessageFor(model => model.ValorMedio, "*",
                    new { @class = "text-danger", title = Labels.CampoObrigatorio })

                @Html.LabelFor(model => model.ValorMedio, new { @class = "control-label" }):
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">R$</span>
                    @Html.EditorFor(model => model.ValorMedio,
                        new
                        {
                            htmlAttributes = new
                            {
                                id = "txt_valorMedio",
                                @class = "form-control",
                                aria_describedby = "basic-addon1",
                                maxlength = "8",
                                placeholder = Labels.TipoPropagandaValorMedioPlaceholder
                            }
                        })
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <input type="submit" value="@Labels.Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink(Labels.TipoPropagandaTitleListaTiposPropaganda, "Index")
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")

    <script>
        $(function () {
            validateForm("form", "validation-summary");
            endInputFocus("Descricao");
            $("#txt_valorMedio").mask("###0.00", { reverse: true });
        });
    </script>
}