@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Home.UploadFotoViewModel

@{
    ViewBag.Title = Labels.PropagandaPolíticaValorReal;
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-offset-3 col-md-6" style="background-color: #ffffff; padding: 10px">

            @if (ViewBag.FotoSalva != null)
            {
                if (ViewBag.FotoSalva)
                {
                    if (Model.CandidatosEncontrados.Any())
                    {
                        <div id="status" class="alert alert-success">
                            <span>@Labels.FotoSalvaCandidatosEncontrados</span>
                            <ul style="font-size: 14px">
                                @foreach (var candidato in Model.CandidatosEncontrados)
                                {
                                    <li>@candidato</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div id="status" class="alert alert-warning text-center">
                            <span>@Labels.FotoSalvaNenhumCandidatoEncontrado</span>
                        </div>
                    }
                }
            }

            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, null,
                    new { id = "validation-summary", @class = "alert alert-danger", role = "alert", style = "display:none;font-size:14px;" })

                <div class="text-center">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="btn btn-default" style="width: 100%">
                                @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.TipoPropaganda,
                                new SelectList(Model.TiposPropaganda, "TipoPropagandaId", "Descricao"), Labels.TipoPropagandaSelecionar,
                                new { @class = "form-control", style = "width:100%" })
                        </div>
                    </div>

                    <div>
                        <input id="enviar-foto" class="btn btn-primary" type="submit" style="width: 100%" value="@Labels.EnviarFoto.ToUpper()" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            validateForm("form", "validation-summary");

            $("#enviar-foto")
                .click(function () {
                    $("#status").hide();
                });
        });
    </script>
}